.navbar
    outline: none
    padding: 8px 0
    &-block 
        display: flex
        justify-content: space-between
        align-items:center 
    &__info
        display: flex
        align-items: center
        text-align: right
    &__adress
        display: flex
        flex-direction: column
        font-size: 13px
        font-weight: 400
    &__button
        margin-left: 30px
        padding: 15px 20px   
        width: 170px
        color: #333333
        font-size: 13px
        font-weight: 400
        +bold
button:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
    outline: none
button:active
    background-color: red
    outline: none
button:focus
    outline: none   
    &__telephone
        display: inline-block
        margin-top: 10px
        color: #333333
        text-decoration: none
        font-size: 20px
        height: 18px
        +bold
@media (max-width: 768px)
    .navbar
        &__contacts
            display: none
        &__button
            font-size: 13px
            padding: 17px 26px
        &__logo
            width: 90px
@media (max-width: 320px) 
    .container
        max-width: auto
    .navbar__button
            font-size: 10px
            max-width: 137px
            max-height: 39px
            margin-left: 0
            margin-right: 10px
            border-radius: 5px
            padding: 14px 24px